body {
  /*Photo by Valentin Antonucci from Pexels*/
  background-image: url("../img/constr.jpeg");
  background-color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  overflow: hidden;
  height: 100%;
  margin: 0;
}
.container {
  width: 100%;
  height: 100%;
}
.container-header {
  padding: 10px;
  margin-top: 10px;
}
.logo-text {
  font-family: Anton;
  font-size: 30px;
  font-weight: 700;
  font-style: oblique;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.431);
}
.container-text {
  width: 50%;
  height: 50%;
  text-align: center;
  float: right;
}

a {
  color: #000;
  text-decoration: none;
  margin-top: 0;
  cursor: pointer;
}
p {
  font-family: Anton;
  font-size: 55px;
  font-weight: 400;
  margin-top: 0;
  font-variant: small-caps;
  text-align: center;
}
.github-link {
  font-family: Anton;
  font-size: 20px;
  color: #616161;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  body {
    /*Photo by Aleksandar Pasaric from Pexels*/
    background-image: url("../img/constr-mobile.jpeg");
    min-height: 100%;
    min-width: 100%;
  }
  .container {
    display: grid;
    grid-template-rows: 1fr 3fr;
  }
  .logo-text {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgba(0, 0, 0, 0.431);
    text-align: left;
    margin: 0 auto;
  }
  .container-text {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgba(117, 117, 117, 0.335);
    color: rgb(255, 255, 255);
    text-align: center;
    vertical-align: middle;
    float: none;
    height: 100%;
    width: 100%;
  }
  p {
    font-size: 25px;
  }
  .github-link {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
  }
}
